body {
text-align: center;
background: #000000;
}

.overlay {
color: white;
position: fixed;
font-family: futura;
left: 0;
right: 0;
top: 0;
bottom: 0;
text-align: 0;
}
.overlayText {
vertical-align: center;
margin: auto;
margin-top: 250px;
user-select: none;
-webkit-user-select: none;
}
